@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    height: 100%;
}

body,
ul,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.right,
.opening,
.greeting,
.buttons,
.container,
.projects,
.box {
    display: grid;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 3rem 6rem auto;
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* NAVIGATION */

.nav {
    padding: 2rem;
}

.title,
.nav li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
}

.title,
.account {
    margin-bottom: 40px;
}

.nav li {
    padding: 1rem 0;
    display: grid;
}

.nav li span:first-child
{
    padding-right: 15px;
}

.title span {
    padding-right: 10px;
}

.nav h1 {
    font-size: 1.5rem;
}

.nav > ul {
    font-size: 1.2rem;
    font-weight: 700;
}


.right {
    grid-template-columns: repeat(3, 1fr);
}

.opening {
    grid-template-columns: repeat(3, 1fr);
}

.greeting {
}

.buttons {
    grid-template-columns: repeat(3, 1fr);
}

.nav {
    grid-row: 1 / -1;
    background: #ff7755;
    color: white;
}

.header,
.opening,
.container {
    grid-column: 2 / 4;
}

.container {
    overflow: auto;
    background: #bccbde;
}

ul {
    list-style-type: none;
}